<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
        </div>
        <div class="jumotron">
            <div class="container">
              <div class="row">
                  <div class="col">
                      <h4><img src="http://chittagongit.com//images/bootstrap-icon-png/bootstrap-icon-png-11.jpg"></img></h4>
                  </div>
                  <div class="col">
                      <h1 class="display-4">About Me</h1>
                      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                  </div>
              </div>
            </div>
        </div>
        </div>
        <div class="container">
          <div class="row">
              <div class="col-md-16">
                  <h2>Here are my hobbies:</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <h4>Sports</h4>
              </div>
              <div class="col-md-4">
                  <h4>Board games</h4>
              </div>
              <div class="col-md-4">
                  <h4>Hiking</h4>
              </div>
          </div>
        </div>
        <br>
        <input class="btn btn-success" type="button" name="button" value="Click me!"/>
        <script>
          /*var title = $('.display-4');
          title.text("This is my new title!");
          title.css({color: "green", fontSize: 48});
  
          function getRandomColor(){
            return "#000000".replace(/0/g,function(){return (~~(Math.random()*16)).toString(16);});
          }
          
          var randomColor = getRandomColor()
          
          title.on('click', changeTitleColor)
          
          function changeTitleColor(){
            title.css({color: randomColor})
          }*/
          
          const productSchoolLat = "37.796465";
          const productSchoolLng = "-122.402492";

          /*$.ajax({
            url: 'api/v1/weather',
            type: 'GET',
            data: { lat: productSchoolLat, lng: productSchoolLng } ,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
              var title = $('.display-4');
              title.text(response.currently.summary);
              console.log(response);
            },
            error: function (error) {
              console.log(error);
            }
          });*/
          navigator.geolocation.getCurrentPosition((location) => {
            var latitude = location.coords.latitude;
            var longitude = location.coords.longitude;
            $.ajax({
              url: 'api/v1/weather',
              type: 'GET',
              data: { lat: latitude, lng: longitude } ,
              contentType: 'application/json; charset=utf-8',
              success: function (response) {
                var title = $('.display-4');
                title.text(response.latitude)
                console.log(response);
              },
              error: function (error) {
                console.log(error);
              }
            })
            
            console.log(location)
          })
          </script>
    </body>
</html>